langchain
langchain-text-splitters
langchain-community
langchain-ollama
langchain-huggingface
langgraph

faiss-cpu

sentence-transformers

pypdf
pdfplumber
pillow

python-dotenv

tavily-python

fastmcp
