langchain
langchain-text-splitters
langchain-community
langchain-google-genai
langchain-huggingface
langgraph

faiss-cpu

sentence-transformers

pypdf
pdfplumber
docx2txt
pillow
rank_bm25

python-dotenv

tavily-python

fastmcp
fastapi
uvicorn
python-multipart
