langchain
langchain-text-splitters
langchain-community
langchain-ollama
langchain-huggingface
langgraph

faiss-cpu

sentence-transformers

pypdf
pdfplumber
pillow
rank_bm25

python-dotenv

tavily-python

fastmcp
